//- Directories
- var containerDirectory = '/public/';
- var imageDirectory = containerDirectory + 'img';
- var cssDirectory = containerDirectory + 'css';
- var jsDirectory = containerDirectory + 'js';

